<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>아크갤러리</title>

    <!-- Bootstrap core CSS -->
    <link href="web/view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="web/view/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="web/view/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">아크갤러리</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          메뉴
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">목표</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#delegate">델리게이트</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">로드맵</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">팀</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#support">후원</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">환영합니다!</div>
          <div class="intro-lead-in">디시인사이드 아크갤러리입니다.</div>
          <a class="btn btn-xl js-scroll-trigger" href="#services">더보기</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">목표</h2>
            <h3 class="section-subheading text-muted">이거 꼭 해야됩니까?</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">원할한 이자 지급</h4>
            <p class="text-muted">너도탑이 출근하는 시간은 일정하지 않습니다. 이제는 일정한 이자 지급 시스템이 필요합니다.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">스마트브릿지 개발</h4>
            <p class="text-muted">이더리움 스마트브릿지로 4딸라를 찍었는데 저도 해보렵니다! 16딸라!</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">안정적인 노드 활성화</h4>
            <p class="text-muted">노드가 죽으면 이자를 지급할 수 없기에 노예처럼 모니터링하겠습니다.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="delegate">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">델리게이트</h2>
            <h3 class="section-subheading text-muted">금광로!</h3>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </section>
    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">로드맵</h2>
            <h3 class="section-subheading text-muted">이거 있으면 다들 좋아해서 넣었습니다.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="web/view/img/about/road_1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017년 7월 17일</h4>
                    <h4 class="subheading">디시인사이드 아크갤러리 오픈</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">사실 실수로 만들었던 갤러리인데 어쩌다보니 여기까지 오게되었습니다. 인생이란!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="web/view/img/about/road_2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017년 7월 20일</h4>
                    <h4 class="subheading">Ark Chrome Wallet 릴리즈</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">심심해서 만든건데 바운티 GET!!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="web/view/img/about/road_3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017년 7월 말</h4>
                    <h4 class="subheading">Arkgallery 델리게이트 활성화</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">이게 진짜 될까? 란 물음이 현실이 되었습니다! 맙소사!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="web/view/img/about/road_4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017년 9월 14일</h4>
                    <h4 class="subheading">아크 4딸라 돌파</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">1딸라는 너무 적소, 4딸라쯤 합시다! 이떄부터 일이 커졌음을 느꼈습니다.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="web/view/img/about/road_5.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017년 9월 말</h4>
                    <h4 class="subheading">ARK-NEO 스마트브릿지 개발 시작</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">거품다리의 짜릿함. 한번더</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Comming
                    <br>
                    <br>Soon</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">팀</h2>
            <h3 class="section-subheading text-muted">이런놈들이 만듭니다.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://avatars1.githubusercontent.com/u/22854000?v=4&s=400" alt="">
              <h4>너도탑</h4>
              <p class="text-muted">아크갤러리 주인</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://github.com/MinseokOh">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://avatars3.githubusercontent.com/u/10849633?v=4&s=400" alt="">
              <h4>cannalee90</h4>
              <p class="text-muted">보팅관련 문의를 했었는데 개발자랍니다!</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://github.com/cannalee90">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->
    <section class="py-5" id="support">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">후원</h2>
            <h3 class="section-subheading text-muted">정말 감사합니다!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6"></div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="web/view/img/logos/1.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="web/view/img/logos/2.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <br>
          <p class="large text-muted">피같은 아크를 <b>AYisS5PQcjz1aVCduaGScVN8GW6xGksanp</b> 여기에 버려주세요.</p>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyleft &copy; 아크갤러리 2017</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="http://gall.dcinside.com/mgallery/board/lists/?id=ark">디시인사이드 아크갤러리</a>
              </li>
            </ul>
        </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="web/view/vendor/jquery/jquery.min.js"></script>
    <script src="web/view/vendor/popper/popper.min.js"></script>
    <script src="web/view/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="web/view/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="web/view/js/jqBootstrapValidation.js"></script>
    <script src="web/view/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="web/view/js/agency.min.js"></script>

  </body>

</html>
